.productCarousel {
  display: inherit;
  padding: 1rem;

  img {
    width: 100%;
    max-width: 500px;
  }
}

div.carousel .control-dots .dot.selected {
  background-color: #141414;
}

div.carousel .control-dots .dot {
  background-color: grey;
  margin: 0 10px
}